.App {
  text-align: center;
}


.btn {
  font-size: medium;
  color: blue;
}

.products {
  display: flex;
  justify-content: space-between;
  width: 600px;
  list-style: none;
  margin-left: 650px;
}

