* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.form {
    margin: 20px;
}

.btn {
    background-color: rgb(73, 73, 223);
    padding: 5px 10px;
    color: white;
    font-style: bold;
    border-radius: 5px;
    margin-left: 10px;
    
}

.list {
    list-style-type: none;
}
